<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Coming Soon</title>
    <!-- <link rel="icon" type="image/x-icon" href="../public/img/favicon.ico" /> -->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
        rel="stylesheet" />
    <link href="/css/stylesSite.css" rel="stylesheet" />
</head>

<body>
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="../img/mp4/bg.mp4" type="video/mp4" />
    </video>
    <div class="masthead">
        <div class="masthead-content text-white">
            <div class="container-fluid px-4 px-lg-0">
                <h1 class="fst-italic lh-1 mb-4">This page is outside the scope of the project</h1>
                <p class="mb-5">We're working hard to finish the development of this site. So sorry :)
                </p>
                <a href="/home" style="color:#fff">VOLVER</a>
            </div>
        </div>
    </div>
    <div class="social-icons">
        <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            <a class="m-3" href="https://www.linkedin.com/in/mercedes-torrendell-748826236/"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <path
                            d="M45.365,140.18c-7.4807,0 -13.545,-6.0643 -13.545,-13.545v-81.27c0,-7.4807 6.0643,-13.545 13.545,-13.545h81.27c7.4807,0 13.545,6.0643 13.545,13.545v81.27c0,7.4807 -6.0643,13.545 -13.545,13.545z"
                            fill="#cccccc"></path>
                        <g fill="#000000">
                            <path
                                d="M123.84,29.24h-75.68c-10.44857,0 -18.92,8.47143 -18.92,18.92v75.68c0,10.44857 8.47143,18.92 18.92,18.92h75.68c10.44857,0 18.92,-8.47143 18.92,-18.92v-75.68c0,-10.44857 -8.47143,-18.92 -18.92,-18.92zM67.08,121.475h-11.825v-47.3h11.825zM67.14858,64.73629c-1.53015,1.5609 -3.52621,2.34371 -5.98108,2.34371c-2.42649,0 -4.41072,-0.80646 -5.95743,-2.4194c-1.54671,-1.61293 -2.32006,-3.59243 -2.32006,-5.93378c0,-2.4123 0.77335,-4.37998 2.32006,-5.90777c1.54671,-1.53015 3.53094,-2.29405 5.95743,-2.29405c2.45487,0 4.45093,0.7639 5.98108,2.29169c1.53016,1.52779 2.29642,3.49783 2.29642,5.91013c0,2.44541 -0.76626,4.44856 -2.29642,6.00947zM121.475,121.475h-11.825v-26.28225c0,-7.32914 -4.22389,-11.55776 -9.46,-11.55776c-2.52345,0 -5.37801,1.53252 -7.01223,3.47419c-1.63422,1.94167 -2.44777,4.40363 -2.44777,7.39063v26.97519h-11.825v-47.3h11.825v7.48286h0.18447c3.48128,-5.75877 8.54475,-8.61806 15.19749,-8.63698c9.45054,-0.02838 15.36304,7.06662 15.36304,19.49233z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a class=" m-3" href="https://www.linkedin.com/in/romina-dos-santos/"><svg
                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="64" height="64" viewBox="0 0 172 172"
                    style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <path
                            d="M45.365,140.18c-7.4807,0 -13.545,-6.0643 -13.545,-13.545v-81.27c0,-7.4807 6.0643,-13.545 13.545,-13.545h81.27c7.4807,0 13.545,6.0643 13.545,13.545v81.27c0,7.4807 -6.0643,13.545 -13.545,13.545z"
                            fill="#cccccc"></path>
                        <g fill="#000000">
                            <path
                                d="M123.84,29.24h-75.68c-10.44857,0 -18.92,8.47143 -18.92,18.92v75.68c0,10.44857 8.47143,18.92 18.92,18.92h75.68c10.44857,0 18.92,-8.47143 18.92,-18.92v-75.68c0,-10.44857 -8.47143,-18.92 -18.92,-18.92zM67.08,121.475h-11.825v-47.3h11.825zM67.14858,64.73629c-1.53015,1.5609 -3.52621,2.34371 -5.98108,2.34371c-2.42649,0 -4.41072,-0.80646 -5.95743,-2.4194c-1.54671,-1.61293 -2.32006,-3.59243 -2.32006,-5.93378c0,-2.4123 0.77335,-4.37998 2.32006,-5.90777c1.54671,-1.53015 3.53094,-2.29405 5.95743,-2.29405c2.45487,0 4.45093,0.7639 5.98108,2.29169c1.53016,1.52779 2.29642,3.49783 2.29642,5.91013c0,2.44541 -0.76626,4.44856 -2.29642,6.00947zM121.475,121.475h-11.825v-26.28225c0,-7.32914 -4.22389,-11.55776 -9.46,-11.55776c-2.52345,0 -5.37801,1.53252 -7.01223,3.47419c-1.63422,1.94167 -2.44777,4.40363 -2.44777,7.39063v26.97519h-11.825v-47.3h11.825v7.48286h0.18447c3.48128,-5.75877 8.54475,-8.61806 15.19749,-8.63698c9.45054,-0.02838 15.36304,7.06662 15.36304,19.49233z">
                            </path>
                        </g>
                    </g>
                </svg></a>
            <a class="m-3" href="https://www.linkedin.com/in/nicolasperdigon/"><svg xmlns="http://www.w3.org/2000/svg"
                    x="0px" y="0px" width="64" height="64" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                        stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                        font-family="none" font-weight="none" font-size="none" text-anchor="none"
                        style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <path
                            d="M45.365,140.18c-7.4807,0 -13.545,-6.0643 -13.545,-13.545v-81.27c0,-7.4807 6.0643,-13.545 13.545,-13.545h81.27c7.4807,0 13.545,6.0643 13.545,13.545v81.27c0,7.4807 -6.0643,13.545 -13.545,13.545z"
                            fill="#cccccc"></path>
                        <g fill="#000000">
                            <path
                                d="M123.84,29.24h-75.68c-10.44857,0 -18.92,8.47143 -18.92,18.92v75.68c0,10.44857 8.47143,18.92 18.92,18.92h75.68c10.44857,0 18.92,-8.47143 18.92,-18.92v-75.68c0,-10.44857 -8.47143,-18.92 -18.92,-18.92zM67.08,121.475h-11.825v-47.3h11.825zM67.14858,64.73629c-1.53015,1.5609 -3.52621,2.34371 -5.98108,2.34371c-2.42649,0 -4.41072,-0.80646 -5.95743,-2.4194c-1.54671,-1.61293 -2.32006,-3.59243 -2.32006,-5.93378c0,-2.4123 0.77335,-4.37998 2.32006,-5.90777c1.54671,-1.53015 3.53094,-2.29405 5.95743,-2.29405c2.45487,0 4.45093,0.7639 5.98108,2.29169c1.53016,1.52779 2.29642,3.49783 2.29642,5.91013c0,2.44541 -0.76626,4.44856 -2.29642,6.00947zM121.475,121.475h-11.825v-26.28225c0,-7.32914 -4.22389,-11.55776 -9.46,-11.55776c-2.52345,0 -5.37801,1.53252 -7.01223,3.47419c-1.63422,1.94167 -2.44777,4.40363 -2.44777,7.39063v26.97519h-11.825v-47.3h11.825v7.48286h0.18447c3.48128,-5.75877 8.54475,-8.61806 15.19749,-8.63698c9.45054,-0.02838 15.36304,7.06662 15.36304,19.49233z">
                            </path>
                        </g>
                    </g>
                </svg></a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>